*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(21, 21, 21);
}
canvas {
    position: absolute;
    border-radius: 50px;
}
#border {
    position: absolute;
    margin-left: calc(50% - 683px);
    border-radius: 50px;
    border: 10px solid;
    margin-top: 30px;
    border-color: rgb(50, 229, 232);
    width: 1366px;
    height: 768px;
    animation: animateColor 4s linear infinite;
}
@keyframes animateColor {
    0%,100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(180deg);
    }
}
#back {
    font-size: 10em;
    margin-top: 19%;
    position: absolute;
    margin-left: 15px;
    z-index: 100;
    color: rgb(74, 74, 74);
}
#backBorder {
    position: absolute;
    margin-top: 18%;
    background-color: rgb(31, 31, 31);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 10px solid;
    border-color: rgb(50, 229, 232);
    animation: animateColor 4s linear infinite;
    height: 200px;
    width: 180px;
}