*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg: rgb(37, 37, 37);
}
body {
    background-color: rgb(21, 21, 21);
}
#forestBG {
    background-image: url(img/forest.jpg);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -9999999;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#container {
    position: absolute;
    margin-left: 10%;
    width: 80%;
    margin-top: 800px;
    height: 1000px;
    background-color: rgb(37, 37, 37);
}
#clock {
    cursor: pointer;
    width: 40%;
    height: 100px;
    border-style: solid;
    border-color: rgb(50, 229, 232);
    border-width: 5px;
    background-color: rgb(94, 94, 94);
    font-size: 5em;
    color: white;
    text-align: center;
    margin-top: 50px;
    float: left;
    animation: animateColor 4s linear infinite;
    box-shadow: 0 0 10px rgb(50, 229, 232),
    0 0 20px rgb(50, 229, 232);
    border-radius: 20px;
}
.socialMedia ul{
    position: relative;
    display: flex;
    gap: 50px;
}
.socialMedia ul li{
    margin-left: calc(50% - 80px);
    position: relative;
    list-style: none;
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}
.socialMedia ul li a i {
    font-size: 2em;
}
.socialMedia ul li:hover{
    z-index: 10000;
    transform: scale(0.75);
}
.socialMedia ul li::before{
    content: '';
    position: absolute;
    inset: 30px;
    box-shadow: 0 0 0 10px var(--clr), 0 0 0 20px var(--bg), 0 0 0 22px var(--clr);
}
.socialMedia ul li:hover::before{
    inset: 0px;
}
.socialMedia ul li::after{
    content: '';
    position: absolute;
    inset: 0;
    background: var(--bg);
    transform: rotate(45deg);
}
.socialMedia ul li a{
    position: relative;
    text-decoration: none;
    color: var(--clr);
    z-index: 10;
    font-size: 2em;
    transition: 0.5s;
}
.socialMedia ul li:hover a{
    font-size: 3em;
    filter: drop-shadow(0 0 20px var(--clr)) drop-shadow(0 0 40px var(--clr)) drop-shadow(0 0 60px var(--clr));
}
.socialMedia {
    height: 100px;
    width: 30%;
    float: left;
    margin-top: 40px;
}
@keyframes animateColor {
    0%,100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(180deg);
    }
}
#nav {
    height: 100%;
    width: 10%;
    float: left;
}
#content {
    height: 100%;
    width: 90%;
    float: left;
}
#bottom {
    height: 750px;
    width: 100%;
    margin-top: 250px;
}
#nav li {
    width: 80%;
    height: 15%;
    margin-left: 10%;
    margin-top: 20%;
    margin-bottom: 20%;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(50, 229, 232);
    list-style: none;
    cursor: pointer;
    animation: animateColor 4s linear infinite;
    box-shadow: 0 0 10px rgb(50, 229, 232),
    0 0 20px rgb(50, 229, 232);
    border-radius: 20px;
}
@keyframes infinityAnimateColor {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
#infinity section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
#nav #infinity section {
    margin-top: 0px;
}
#infinity section .circle{
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0 -2px;
    animation: animateColor 8s linear infinite;
}
#nav #infinity section .circle {
    width: 100px;
    height: 100px;
}
#infinity section .circle span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
}
#infinity section .circle span::before{
    content: '';
    position: absolute;
    right: 0;
    top: calc(50% - 7.5px);
    width: 25px;
    height: 25px;
    background: #00ff0a;
    border-radius: 50%;
    box-shadow: 0 0 10px #00ff0a,
    0 0 20px #00ff0a,
    0 0 40px #00ff0a,
    0 0 60px #00ff0a,
    0 0 80px #00ff0a,
    0 0 100px #00ff0a;
    transform: scale(0.1);
    animation: animate 4s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}
#nav #infinity section .circle span::before {
    
    box-shadow: 0 0 5px #00ff0a,
    0 0 10px #00ff0a;
    top: calc(50% - 2px);
    width: 4px;
    height: 4px;
}
@keyframes animate{
    0%{
        transform: scale(1);
    }
    50%,100%{
        transform: scale(0.1);
    }
}
#infinity section .circle:nth-child(2){
    transform: rotate(-180deg);
}
#infinity section .circle:nth-child(2) span::before{
    animation-delay: calc(-0.1s * var(--i));
}
#contentInfinity {
    visibility: hidden;
    position: absolute;
    margin-left: 100px;
}
#nav li img {
    width: 80%;
    margin: 10%;
}
#contentCalculator {
    position: absolute;
    margin-left: 100px;
    margin-top: 100px;
    margin-left: calc(40% - 300px);
    visibility: hidden;
}
#calculatorBody{
    background-color: rgb(103, 111, 119);
    width: 600px;
    height: 600px;
    margin: auto;
}
#display{
    float: left;
    width: calc(100% - 20px);
    height: 180px;
    margin: 10px;
    background-color: rgb(46, 46, 54);
    font-size: 7em;
    position: relative;
}
#display div{
    position: absolute;
    bottom: 0;
    width: 100%;
}
#display div p{
    float: right;
}
.button{
    font-size: 4em;
    float: left;
    width: 80px;
    height: 80px;
    float: left;
    background-color: rgb(46, 46, 54);
    margin: 10px;
    text-align: center;
    color: white;
}
#clear{
    width: calc(50% - 20px);
    margin: 10px;
}
#submit{
    width: calc(50% - 20px);
    margin: 10px;
}
#calculator2{
    visibility: collapse;
}
#back {
    background: none;
    border-style: none;
    margin-left: 0px;
}
#back i {
    color: rgb(46, 46, 54);
    font-size: 1.3em;
}
#contentGravity {
    margin-left: 250px;
    margin-top: 100px;
    position: absolute;
    visibility: hidden;
}
#gravityCanvas{
    background-color: rgb(43, 43, 51);
    margin-left: 50px;
}
#contentGravity button {
    border: none;
    background-color: rgb(46, 46, 54);
    color: white;
    width: 50px;
    height: 50px;
}
#contentGravity #buttons {
    margin-left: 220px;
}
#bowlSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
#bowl {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bowl{
    position: relative;
    width: 300px;
    height: 300px;
    background: rgba(255,255,255,0.1);
    border-radius: 50%;
    border: 8px solid transparent;
    transform-origin: bottom center;
}
#bowl{
    position: relative;
    width: 60px;
    height: 60px;
    background: rgba(255,255,255,0.1);
    border-radius: 50%;
    border: 2px solid transparent;
    transform-origin: bottom center;
    margin: 20px;
    animation : bowlAnimation1 5s linear infinite;
}
#bowl1 {
    animation : bowlAnimation1 5s linear infinite;
}
#bowl2 {
    margin-left: 100px;
    animation : bowlAnimation2 5s linear infinite;
}
@keyframes bowlAnimation1 {
    0% {
        filter: hue-rotate(-45deg);
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(15deg);
    }
    50% {
        filter: hue-rotate(45deg);
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-15deg);
    }
    100% {
        filter: hue-rotate(-45deg);
        transform: rotate(0deg);
    }
}@keyframes bowlAnimation2 {
    0% {
        filter: hue-rotate(180deg);
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(15deg);
    }
    50% {
        filter: hue-rotate(215deg);
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-15deg);
    }
    100% {
        filter: hue-rotate(180deg);
        transform: rotate(0deg);
    }
}
.bowl::before{
    content: '';
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 30px;
    border: 15px solid #444;
    border-radius: 50%;
    box-shadow: 0 10px #222;
}
#bowl::before {
    content: '';
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 6px;
    border: 3px solid #444;
    border-radius: 50%;
    box-shadow: 0 2px #222;
}
.bowl::after{
    content: '';
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 150px;
    height: 80px;
    background: rgba(255,255,255,0.05);
}
#bowl::after{
    content: '';
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 30px;
    height: 16px;
    background: rgba(255,255,255,0.05);}
.liquid {
    position: absolute;
    top: 50%;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: #41c1fb;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    filter: drop-shadow(0 0 80px #41c1fb);
    transform-origin: top center;
    animation : liquidAnimation 5s linear infinite;
}
#liquid {
    position: absolute;
    top: 50%;
    left: 1px;
    right: 1px;
    bottom: 1px;
    background: #41c1fb;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    filter: drop-shadow(0 0 16px #41c1fb);
    transform-origin: top center;
    animation : smallLiquidAnimation 5s linear infinite;
}
@keyframes liquidAnimation {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-20deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(20deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes smallLiquidAnimation {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-20deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(20deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.liquid::before {
    content: '';
    position: absolute;
    top: -10px;
    width: 100%;
    height: 20px;
    background: #1fa4e0;
    border-radius: 50%;
    filter: drop-shadow(0 0 80px #41c1fb);
}
#liquid::before {
    content: '';
    position: absolute;
    top: -10px;
    width: 100%;
    height: 20px;
    background: #1fa4e0;
    border-radius: 50%;
    filter: drop-shadow(0 0 80px #41c1fb);
}
#contentBowl {
    position: absolute;
    margin-left: 250px;
    visibility: hidden;
}