*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg: rgb(37, 37, 37);
}
body {
    background-color: rgb(21, 21, 21);
}
#forestBG {
    background-image: url(img/forest.jpg);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -9999999;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#container {
    position: absolute;
    margin-left: 10%;
    width: 80%;
    margin-top: 800px;
    height: 1000px;
    background-color: rgb(37, 37, 37);
}
#clock {
    width: 40%;
    height: 100px;
    border-style: solid;
    border-color: rgb(50, 229, 232);
    border-width: 5px;
    background-color: rgb(94, 94, 94);
    font-size: 5em;
    color: white;
    text-align: center;
    margin-top: 50px;
    float: left;
    animation: animateColor 4s linear infinite;
    box-shadow: 0 0 10px rgb(50, 229, 232),
    0 0 20px rgb(50, 229, 232);
    border-radius: 20px;
}
.socialMedia ul{
    position: relative;
    display: flex;
    gap: 50px;
}
.socialMedia ul li{
    margin: 10%;
    margin-left: 15%;
    position: relative;
    list-style: none;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}
.socialMedia ul li:hover{
    z-index: 10000;
    transform: scale(0.75);
}
.socialMedia ul li::before{
    content: '';
    position: absolute;
    inset: 30px;
    box-shadow: 0 0 0 10px var(--clr), 0 0 0 20px var(--bg), 0 0 0 22px var(--clr);
}
.socialMedia ul li:hover::before{
    inset: 0px;
}
.socialMedia ul li::after{
    content: '';
    position: absolute;
    inset: 0;
    background: var(--bg);
    transform: rotate(45deg);
}
.socialMedia ul li a{
    position: relative;
    text-decoration: none;
    color: var(--clr);
    z-index: 10;
    font-size: 2em;
    transition: 0.5s;
}
.socialMedia ul li:hover a{
    font-size: 3em;
    filter: drop-shadow(0 0 20px var(--clr)) drop-shadow(0 0 40px var(--clr)) drop-shadow(0 0 60px var(--clr));
}
.socialMedia {
    height: 100px;
    width: 30%;
    float: left;
    margin-top: 20px;
}
@keyframes animateColor {
    0%,100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(180deg);
    }
}